.Navigation ul {
    display: flex;
    font-size: 1.2rem;
}

.Navigation li {
    margin-right: 10px;
    list-style-type: none;
}

.Navigation ul li a {
    color: #e5e5e5;
}

.Navigation-pointer {
    cursor: pointer;
}
