@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.QuizMe {
    font-family: "Roboto", sans-serif;
    min-height: 90vh;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

.QuizMe-streak-checker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.QuizMe-streak-checker progress {
    margin: 0;
}

/* header section ---------------------- */

.QuizMe-question-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.QuizMe-category-selector {
    max-width: 60%;
}

.QuizMe-category-selector select {
    font-size: 18px;
    width: 100%;
}

.QuizMe-category-selector p {
    margin: 0;
}

.QuizMe-scoreboard {
    display: flex;
    align-items: center;
    text-align: right;
    line-height: 1;
}

.QuizMe-scoreboard > div:first-child {
    margin-right: 25px;
}

.QuizMe-scoreboard .wrong {
    color: rgb(211, 79, 79);
}

.QuizMe-scoreboard .QuizMe-correct {
    color: rgb(63, 162, 63);
}

.QuizMe-scoreboard strong {
    color: #555;
    font-size: 40px;
    display: block;
    margin-bottom: 3px;
}

.QuizMe-result-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QuizMe-result-modal .QuizMe-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.QuizMe-result-modal-content {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 30px;
    width: 400px;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.QuizMe-correct-answer {
    color: #555;
}

.QuizMe-result-modal.QuizMe-is-correct h3 {
    color: rgb(63, 162, 63);
}

.QuizMe-result-modal.QuizMe-is-wrong h3 {
    color: rgb(211, 79, 79);
}

.QuizMe-result-modal-content h3 {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.QuizMe-result-modal-content .QuizMe-correct-answer {
    margin-bottom: 20px;
}

.QuizMe-result-modal-content .QuizMe-correct-answer small {
    color: #777;
}

.QuizMe-result-modal-content .QuizMe-correct-answer strong {
    font-size: 40px;
}

/* main section ---------------------- */

.QuizMe-question-main {
    background: #fff;
    border-radius: 10px;
    padding: 2.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    min-width: 500px;
    max-width: 90%;
    min-height: 350px;
    display: flex;
    align-items: center;
}

.QuizMe-question {
    color: #555;
    width: 100%;
}

.QuizMe-question h2 {
    margin-top: 0;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.QuizMe-question button {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0.8rem;
    border-width: 1px;
    border-radius: 0.25rem;
    border-color: #ce7964;
    background-color: #ce5132;
    transition: 0.2s ease all;
    line-height: 1;
}

.QuizMe-question button:hover {
    background-color: #f4a261;
    box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.1);
}

.QuizMe-category {
    padding-top: 8px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
}

.QuizMe-category h4,
.QuizMe-category h5 {
    margin: 0;
}

/* footer section ---------------------- */

.QuizMe-question-footer {
    margin-top: 15px;
    text-align: right;
}

.QuizMe-question-footer button {
    background: #ccc;
    border-color: #aaa;
    color: #777;
    width: auto;
    margin-left: auto;
    font-size: 12px;
    padding: 10px 20px;
}

/* putting down here because the svg pattern is so long */
.QuizMe {
    background-color: #e76f51;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.16'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
