@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.MemoryMatcher {
    font-family: "Patrick Hand", sans-serif;
    min-height: 90vh;
    background: #b89103;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    line-height: 1;
}

.MemoryMatcher-cards {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 10px;
}

.MemoryMatcher-pokemon-card {
    height: 150px;
    width: 150px;
    border-radius: 2px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-family: "Patrick Hand", sans-serif;
}

.MemoryMatcher-pokemon-card.MemoryMatcher-flipped .MemoryMatcher-inner {
    transform: rotateY(180deg);
}

.MemoryMatcher-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.MemoryMatcher-pokemon-card .MemoryMatcher-front,
.MemoryMatcher-pokemon-card .MemoryMatcher-back {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.MemoryMatcher-pokemon-card .MemoryMatcher-front {
    background: #fff;
    transform: rotateY(180deg);
}

.MemoryMatcher-pokemon-card .MemoryMatcher-back {
    background: #ae1c35;
    color: #d6aeb5;
    font-size: 100px;
    transition: 0.3s ease all;
}

.MemoryMatcher-pokemon-card .MemoryMatcher-back:hover {
    background: #cc2f49;
    color: #fff;
    transform: scale(1.02);
}

.MemoryMatcher-reset-button {
    margin-top: 20px;
    font-size: 2rem;
    cursor: pointer;
    background: rgb(43, 43, 43);
    padding: 15px;
    border-radius: 10px;
}
